@model WebAppThales.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee</h1>

<div>
    <h4>EmployeeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile_image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile_image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_anual_salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_anual_salary)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
