@model IEnumerable<WebAppThales.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Salary")
            </th>
            <th>
                @Html.DisplayName("Age")
            </th>
            <th>
                @Html.DisplayName("Image Url")
            </th>
            <th>
                @Html.DisplayName("Anual Salary")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile_image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_anual_salary)
            </td>
            <td>
                @Html.ActionLink("Employee", "Employee", new { id=item.Id })                
            </td>
        </tr>
}
    </tbody>
</table>
